*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 20px;
}
.room-box{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.room-box .buttons{
    display: flex;
    justify-content: space-between;
}
.room-box input{
    padding: 10px;
    outline: none;
}
.room-box .buttons button, .share-screen button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
}
.video-box{
    width: 400px;
    height: 500px;
    position: relative;
}
.video-box button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 4px;
    outline: none;
}
.video-box .local-video{
    position: absolute;
    width: 100px;
    top: 10px;
}
.video-box .remote-video{
    width: 100%;
}
.video-box .local-video video{
    width: 100px;
}
.video-box .remote-video video{
    width: 100%;
}
.share-screen{
    margin: 50px;
}